.blog--container h2 {
  margin: 20px auto;
  font-size: 1.5em;
  font-weight: bold;
  position: relative;
}

.blog--container h2:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 10px;
  opacity: 0.3;
  left: 5px;
  bottom: 50px;
  border-radius: 50px;
  z-index: -1;
  transform: rotate(-90deg);
}

.dark-mode .blog--container h2:after {
  background: orange;
}

.light-mode .blog--container h2:after {
  background: orange;
}

.blog--container h2:before {
  content: "";
  position: absolute;
  width: 80px;
  height: 10px;
  opacity: 0.3;
  left: -30px;
  top: 0;
  border-radius: 50px;
  transform: rotate(-90deg);
  z-index: -1;
}

.dark-mode .blog--container h2:before {
  background: cornflowerblue;
}

.light-mode .blog--container h2:before {
  background: purple;
}

.blog--container ol,
.blog--container ul {
  margin: 20px !important;
  padding: 0 !important;
}

.blog--container blockquote {
  background: rgba(46, 49, 146, 1);
  color: white;
  padding: 10px;
  border-left: 10px solid orange;
  box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.2);
  margin: 40px auto;
}

.blog--container img:first-of-type {
  border-radius: 20px;
  box-shadow: 2px 5px 15px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
}

.dark-mode pre[class*="language-"] {
  background: rgb(22, 22, 22);
}
